body{
    margin: 0px;
    height: max-content;
    zoom: normal;
    cursor: default;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
.topbar{  
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    white-space: nowrap;
    position: fixed;
    top: 0;
    box-shadow: 0 0 1px;
    background-color: #88888834;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    font-size: 1.3rem;
}
.links{
    height: 48px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: #000000;
}
.links a:hover{
    text-shadow: 0 0 5px black;
}
.about{
    width: calc(100% - 1px);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 60px;
}
.image img{
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.345);
    width: 288px;
}   
.me{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.me p{
    font-size: 17px;
}
.me .btns{
    display: flex;
    gap: 20px;
}
.btns img{
    height: 20px;
    margin-bottom: 2px;
}
.btns a{
    text-decoration: none;
}
.btn1, .btn2{
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.444); 
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    width: 155px;
    color: #000000b5;
    background-color: rgb(250, 250, 250);
}
.btn1:hover, .btn2:hover{
    cursor: pointer;
    box-shadow: 0 0 2px;
}
.experience{
    padding-top: 75px;
    height: fit-content;
    width: calc(100% - 1px);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 40px;
}
.experience h1{
    font-size: 45px;
}
.timeline{
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.timeline .line{
    height: 750px;
    width: 0px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line > div{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    right: 10px;
}
.line h3{
    font-size: 35px;
}
.line .details{
    height: fit-content;
    width: 500px;
    position: relative;
    bottom: 80px;
}
.line .left{
    left: 50px;
    text-align: left;
}
.line .right{
    right: 530px;
    text-align: right;
}
.line p{
    font-size: 20px;
}
.projects h1{
    font-size: 45px;
}
.projects{    
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.project-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}
.project-block{
    height: fit-content;
    border: 1px solid;
    border-radius: 12px;
    padding: 12px;
}
.project-block img{
    height: 325px;
}
.tools{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}
.tool {
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}